<html lang="pt-br">
<div class="ui-g">
    <p-toast></p-toast>
    <p-panel header="Salas">
        <div style="margin-bottom: 20px">
            <p-menubar [model]="itens"></p-menubar>
        </div>
        <p-table #dt [value]="salas" [columns]="cols" [paginator]="true" [rows]="7" [responsive]="true"
            [rowHover]="true" [showCurrentPageReport]="true" [paginator]="true"
            currentPageReportTemplate="Mostrando de {first} até {last} de {totalRecords} salas" [rows]="10"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th colspan="6">
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'descricao', 'startsWith')"
                            placeholder="Pesquisar descrição" class="ui-column-filter" maxlength="255">
                    </th>
                </tr>
                <tr>
                    <th pSortableColumn="descricao">
                        Descrição <p-sortIcon field="descricao"></p-sortIcon>
                    </th>
                    <th pSortableColumn="capacidadePessoas">
                        Capacidade de pessoas <p-sortIcon field="capacidadePessoas"></p-sortIcon>
                    </th>
                    <th pSortableColumn= "precoDiario">
                        Preço diário <p-sortIcon field="precoDiario"></p-sortIcon>
                    </th>
                    <th>
                    <p-dropdown [options]="tiposSalas" [style]="{'width':'100%','min-width':'100%'}"
                        (onChange)="dt.filter($event.value, 'idTipoSala', 'equals')"
                        placeholder="Select a Status">
                        <ng-template let-option pTemplate="item">
                            <span
                                [class]="'sala-badge idTipoSala-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                    </th>
                    <th>
                        Equipamentos
                    </th>
                    <th style="width: 15rem;">Opções</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sala let-columns="columns">
                <tr [pSelectableRow]="sala" style="text-align: center;">
                    <td>{{sala.descricao}}</td>
                    <td>{{sala.capacidadePessoas}}</td>
                    <td>{{sala.precoDiario | currency:'BRL'}} </td>
                    <td>{{getTipoSala(sala.idTipoSala)}}</td>
                    <td>
                        <span style="float: center">
                            <button pButton type="button" (click)="show(sala)">
                                <i class="pi pi-desktop" style="padding-top: 2px; font-size: 10px;"></i>
                                <span style="padding-left: 5px; font-size: 14px;">Mostrar Equipamentos</span>
                            </button>
                        </span>
                    </td>
                    <td style="text-align: center;">
                        <span style="float: center">
                            <button pButton type="button" (click)="showEditDialog(sala)"
                                style="font-size: 14px; padding-top: 5px">
                                <i class="pi pi-pencil" style="padding-top: 2px;"></i>
                                <span style="padding-left: 5px;">Editar</span>
                            </button><br>
                            <button pButton type="button" style="font-size: 14px; padding-top: 5px; margin-top: 15px;"
                                (click)="confirm(sala)">
                                <i class="pi pi-trash"></i>
                                <span style="padding-left: 5px; justify-content: center;">Excluir</span>
                            </button>
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
    <p-dialog header="Nova Sala" [(visible)]="displaySaveDialog">
        <div class="dialog">
            <div class="divPad">
                <input pInputText id="descricao" placeholder="Descrição" [(ngModel)]="sala.descricao" maxlength="255" />
            </div>
            <div class="divPad">
                <p-inputNumber placeholder = "Capacidade de Pessoas" [(ngModel)]="sala.capacidadePessoas" [min]="1" [max]="10000"></p-inputNumber>
            </div>
            <div class="test">
                <p-inputNumber id="precoDiario" [(ngModel)]="sala.precoDiario" mode="currency" 
                currency="BRL" locale="pt-BR" placeholder = "Preço diario" maxlength="12"></p-inputNumber>
            </div>
            <div class="divPad">
                <p-dropdown [options]="tiposSalas" [(ngModel)]="sala.idTipoSala"></p-dropdown>
            </div>
            <span>
                <button pButton type="button" (click)="showEquipamentos()">
                    <i class="pi pi-desktop" style="padding-top: 2px; font-size: 10px;"></i>
                    <span style="padding-left: 5px; font-size: 14px;">Mostrar Equipamentos</span>
                </button>
            </span>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button style="background-color: rgb(44, 44, 44);color: white;" type="button" pButton icon="pi pi-check"
                    (click)="save()" label="Salvar"></button>
            </div>
        </p-footer>
    </p-dialog>

    <p-dialog header="Editar Sala" [(visible)]="displayEditDialog">
        <div class="dialog">
            <div class="divPad">
                <input pInputText id="descricao" placeholder="Descrição" [(ngModel)]="sala.descricao" maxlength="255" />
            </div>
            <div class="divPad">
                <p-inputNumber placeholder = "Capacidade de Pessoas" [(ngModel)]="sala.capacidadePessoas" [min]="1" [max]="10000"></p-inputNumber>
            </div>
            <div class="divPad">
                <p-inputNumber id="precoDiario" [(ngModel)]="sala.precoDiario" mode="currency" 
                currency="BRL" locale="pt-BR" placeholder = "Preço diario" maxlength="12"></p-inputNumber>
            </div>
            <div class="divPad">
                <p-dropdown [options]="tiposSalas" [(ngModel)]="sala.idTipoSala"></p-dropdown>
            </div>
            <span>
                <button pButton type="button" (click)="showEquipamentos()">
                    <i class="pi pi-desktop" style="padding-top: 2px; font-size: 10px;"></i>
                    <span style="padding-left: 5px; font-size: 14px;">Mostrar Equipamentos</span>
                </button>
            </span>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button style="background-color: rgb(44, 44, 44);color: white;" type="button" pButton icon="pi pi-check"
                    (click)="editEquipWithButton()" label="Editar"></button>
            </div>
        </p-footer>
    </p-dialog>
    <p-confirmDialog #cd header="Confirmação" [style]="{width: '450px'}" icon="pi pi-exclamation-triangle" width="425">
        <p-footer>
            <button style="background-color: rgb(44, 44, 44);color: white;" type="button" pButton icon="pi pi-times"
                label="Não" (click)="cd.reject()"></button>
            <button style="background-color: rgb(44, 44, 44);color: white;" type="button" pButton icon="pi pi-check"
                label="Sim" (click)="cd.accept()"></button>
        </p-footer>
    </p-confirmDialog>
</div>

</html>