<html lang="pt-br">
<div class="ui-g">
    <p-toast></p-toast>
    <p-panel header="Salas">
        <div style="margin-bottom: 20px">
            <p-menubar [model]="itens"></p-menubar>
        </div>
        <p-table #dt [value]="salas" [columns]="cols" [paginator]="true" [rows]="7" [responsive]="true"
            [rowHover]="true" [showCurrentPageReport]="true" [paginator]="true"
            currentPageReportTemplate="Mostrando de {first} até {last} de {totalRecords} salas" [rows]="10"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>
                        Descrição
                    </th>
                    <th>
                        Capacidade de pessoas
                    </th>
                    <th>
                        Preço diário
                    </th>
                    <th>
                        Tipo sala
                    </th>
                    <th>
                        Equipamentos
                    </th>
                    <th style="width: 15rem;">Opções</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sala let-columns="columns">
                <tr [pSelectableRow]="sala" style="text-align: center;">
                    <td>{{sala.descricao}}</td>
                    <td>{{sala.capacidadePessoas}}</td>
                    <td>R$ {{sala.precoDiario}} </td>
                    <td>{{getTipoSala(sala.idTipoSala)}}</td>
                    <td>
                        <span style="float: center">
                            <button pButton type="button" (click)="show(sala)">
                                <i class="pi pi-desktop" style="padding-top: 2px; font-size: 10px;"></i>
                                <span style="padding-left: 5px; font-size: 14px;">Mostrar Equipamentos</span>
                            </button>
                        </span>
                    </td>
                    <td style="text-align: center;">
                        <span style="float: center">
                            <button pButton type="button" (click)="showEditDialog(sala)">
                                <i class="pi pi-pencil" style="padding-top: 6px;"></i>
                                <span style="padding-left: 5px;">Editar</span>
                            </button>
                            <button pButton type="button" style="margin-left: 10px;" (click)="confirm(sala)">
                                <i class="pi pi-trash" style="padding-top: 6px; padding-left: 5px;"></i>
                                <span style="padding-left: 5px;">Excluir</span>
                            </button>
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
    <p-dialog header="Nova Sala" [(visible)]="displaySaveDialog">
        <div class="dialog">
            <div class="divPad">
                <input pInputText id="descricao" placeholder="Descrição" [(ngModel)]="sala.descricao" maxlength="255" />
            </div>
            <div class="divPad">
                <input pInputText id="capacidadePessoas" placeholder="Capacidade de Pessoas"
                    [(ngModel)]="sala.capacidadePessoas" />
            </div>
            <div class="divPad">
                <input pInputText id="precoDiario" placeholder="Preço Diario" [(ngModel)]="sala.precoDiario" />
            </div>
            <div class="divPad">
                <p-dropdown [options]="tiposSalas" [(ngModel)]="sala.idTipoSala"></p-dropdown>
            </div>

        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button style="background-color: rgb(44, 44, 44);color: white;" type="button" pButton icon="pi pi-check"
                    (click)="save()" label="Salvar"></button>
            </div>
        </p-footer>
    </p-dialog>