.dialog {
    min-width: 6rem;
    height: 12vw;
} 
.test
{
    padding-top: 5px;
    padding-bottom: 10px;
}
td.break
{
    word-wrap: break-word;
    max-width: 1px;
    -webkit-hyphens: auto; 
    -moz-hyphens: auto;
    -ms-hyphens: auto; 
    hyphens: auto;
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
}
td{
    text-align: center;
}
 