<div class="ui-g">
    <p-panel header="Equipamentos" >
        <div style="margin-bottom: 20px">
            <p-menubar [model] = "itens"></p-menubar>
        </div>
        <p-table [value]="equipamentos" [columns]="cols" [paginator]="true" [rows]="7" [responsive]="true">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    <th style="width: 15rem;">Opções</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-equipamento let-columns = "columns">
                <tr [pSelectableRow]="equipamento">
                    <td *ngFor="let col of columns">
                        {{equipamento[col.field]}}
                    </td>
                    <td style="text-align: center;">
                        <span style="float: center">
                            <button pButton type="button" (click)="showEditDialog(equipamento)">
                                <i class="pi pi-pencil" style="padding-top: 6px;"></i>
                                <span style="padding-left: 5px;">Editar</span>
                            </button>
                            <button pButton type="button" style="margin-left: 10px;" (click)= "deleteEquipWithButton(equipamento)">
                                <i class="pi pi-trash" style="padding-top: 6px; padding-left: 5px;"></i>
                                <span style="padding-left: 5px;">Excluir</span>
                            </button>
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
    <p-dialog header="Novo Equipamento"
    [responsive]="true"
    [(visible)]="displaySaveDialog">
        <div class="dialog">
            <div class="test">
                <input pInputText id="nome" placeholder="Nome"[(ngModel)]="equipamento.nome"/>
            </div>
            <div class="test">
                <p-dropdown [options]="tiposEquipamentos" [(ngModel)]="equipamento.idTipoEquipamento"></p-dropdown>
            </div>
            <div class="test">
                <input pInputText id="precoDiario" placeholder="Preço diario" [(ngModel)]="equipamento.precoDiario"/>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
            </div>
        </p-footer>
    </p-dialog>
    <p-dialog header="Editar Equipamento"
    [responsive]="true"
    [(visible)]="displayEditDialog">
        <div class="dialog">
            <div class="test">
                <input pInputText id="nome" placeholder="Nome"[(ngModel)]="equipamento.nome"/>
            </div>
            <div class="test">
                <p-dropdown [options]="tiposEquipamentos" [(ngModel)]="equipamento.idTipoEquipamento"></p-dropdown>
            </div>
            <div class="test">
                <input pInputText id="precoDiario" placeholder="Preço diario" [(ngModel)]="equipamento.precoDiario"/>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="pi pi-check" (click)="editEquipWithButton(equipamento)" label="Edit"></button>
            </div>
        </p-footer>
    </p-dialog>
</div>
<p-toast></p-toast>
