<html lang="pt-br">
<p-toast></p-toast>
<p-panel header="Equipamentos">
    <p-table #dt [value]="equipamentos" [columns]="cols" [paginator]="true" [rows]="7" [rowHover]="true"
        [showCurrentPageReport]="true" [paginator]="true"
        currentPageReportTemplate="Mostrando de {first} até {last} de {totalRecords} equipamentos" [rows]="10"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'nome', 'startsWith')"
                        placeholder="Pesquisar por nome" class="ui-column-filter" maxlength="255">
                </th>
            </tr>
            <tr>
                <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon>
                </th>
                <th pSortableColumn="precoDiario">Preço Diário <p-sortIcon field="precoDiario"></p-sortIcon>
                </th>
                <th>
                    <p-dropdown [options]="tiposEquipamentos"
                        (onChange)="dt.filter($event.value, 'idTipoEquipamento', 'equals')"
                        styleClass="ui-column-filter" placeholder="Select a Status" [showClear]="true">
                        <ng-template let-option pTemplate="item">
                            <span
                                [class]="'equipamento-badge idTipoEquipamento-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </th>
                <th>Quantidade equipamento</th>
                <th>Opções</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-equipamento let-columns="columns">
            <tr [pSelectableRow]="equipamento">
                <td class="break">{{equipamento.nome}}</td>
                <td>R$ {{equipamento.precoDiario}}</td>
                <td>{{getTipoEquipamento(equipamento.idTipoEquipamento)}}</td>
                <td>
                    <p-inputNumber [(ngModel)]="equipamento.quantidade" [min]="0" [max]="1000"></p-inputNumber>
                </td>
                <td>
                    <span>
                        <button pButton type="button" (click)="selecionarEquip(equipamento)">
                            <i style="padding-top: 2px; font-size: 10px;"></i>
                            <span style="padding-left: 5px; font-size: 14px;">Selecionar</span>
                        </button>
                    </span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            Existem {{equipamentos?.length}} equipamentos
        </ng-template>
    </p-table>
</p-panel>

</html>