<div class="ui-g">
    <p-toast></p-toast>
    <p-panel header="Reserva">
        <div style="margin-bottom: 20px;">
            <p-menubar [model]="itens"></p-menubar>
        </div>
        <p-table #dt [value]="reservas" [columns]="cols" [paginator]="true" [rows]="7" [responsive]="true"
            [rowHover]="true" [showCurrentPageReport]="true" [paginator]="true"
            currentPageReportTemplate="Mostrando de {first} até {last} de {totalRecords} reservas" [rows]="10"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>
                        Data inicio
                    </th>
                    <th>
                        Data fim
                    </th>
                    <th>
                        Preço final
                    </th>
                    <th>
                        Cliente
                    </th>
                    <th>
                        Sala
                    </th>
                    <th>
                        Equipamentos
                    </th>
                    <th style="width: 15rem;">Opções</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sala let-columns="columns">
                <tr [pSelectableRow]="reserva" style="text-align: center;">
                    <td>{{reserva.dataInicio}}</td>
                    <td>{{reserva.dataFim}}</td>
                    <td>R$ {{reserva.precoFinal}} </td>
                    <td>R$ {{getClientePorId(reserva.idCliente)}} </td>
                    <td>R$ {{getSalaPorId(reserva.idSala)}} </td>
                    <td>
                        <span style="float: center">
                            <button pButton type="button" (click)="show(sala)">
                                <i class="pi pi-desktop" style="padding-top: 2px; font-size: 10px;"></i>
                                <span style="padding-left: 5px; font-size: 14px;">Mostrar Equipamentos</span>
                            </button>
                        </span>
                    </td>
                    <td style="text-align: center;">
                        <span style="float: center">
                            <button pButton type="button" (click)="showEditDialog(sala)">
                                <i class="pi pi-pencil" style="padding-top: 6px;"></i>
                                <span style="padding-left: 5px;">Editar</span>
                            </button>
                            <button pButton type="button" style="margin-left: 10px;" (click)="confirm(sala)">
                                <i class="pi pi-trash" style="padding-top: 6px; padding-left: 5px;"></i>
                                <span style="padding-left: 5px;">Excluir</span>
                            </button>
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>