<div class="ui-g">
    <p-toast key="myKey1" position="bottom-right"></p-toast>
    <p-panel header="Reserva">
        <div style="margin-bottom: 40px;height:10px">
            <p-menubar [model]="itens"></p-menubar>
        </div>
        <p-table #dt [value]="reservas" [columns]="cols" [paginator]="true" [responsive]="true" [rowHover]="true"
            [showCurrentPageReport]="true" [paginator]="true"
            currentPageReportTemplate="Mostrando de {first} até {last} de {totalRecords} reservas" [rows]="10"
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header" let-columns>
                <tr style="height: 10px;">
                    <th>Data inicio</th>
                    <th>Data fim</th>
                    <th>Preço final</th>
                    <th>Cliente</th>
                    <th>Sala</th>
                    <th>Equipamentos</th>
                    <th style="width: 15rem;">Opções</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-reserva let-columns="columns">
                <tr [pSelectableRow]="reserva" style="text-align: center;">
                    <td>{{reserva.dataInicio | date: 'dd/MM/yyyy'}}</td>
                    <td>{{reserva.dataFim | date: 'dd/MM/yyyy'}}</td>
                    <td>R${{reserva.precoFinal}} </td>
                    <td>
                        <span style="float: center">
                            <button pButton type="button" (click)="mostrarCliente(reserva.idCliente)" style="font-size: 13px; margin-top: 5px;">
                                <i class="pi pi-users" style="padding-top: 6px; padding-left: 5px;"></i>
                                <span style="padding-left: 5px; font-size: 13px;">Mostrar</span>
                            </button>
                        </span>
                    </td>
                    <td>
                        <span style="float: center">
                            <button pButton type="button" (click)="mostrarSala(reserva.idSala)" style="font-size: 13px; margin-top: 5px;">
                                <span class= "material-icons" style="font-size: 13px; margin-top: 5px;">meeting_room</span>Mostrar
                            </button>
                        </span>
                    </td>
                    <td>
                        <span style="float: center">
                            <button pButton type="button" (click)="show(reserva)" style="font-size: 13px; margin-top: 5px;">
                                <i class="pi pi-desktop" style="padding-top: 6px; padding-left: 5px;"></i>
                                <span style="padding-left: 5px; font-size: 13px;">Mostrar</span>
                            </button>
                        </span>
                    </td>
                    <td style="text-align: center;">
                        <span style="float: center">
                            <button pButton type="button" (click)="showEditDialog(reserva)">
                                <i class="pi pi-pencil" style="padding-top: 6px;"></i>
                                <span style="padding-left: 5px;">Editar</span>
                            </button>
                            <button pButton type="button" style="margin-left: 10px;" (click)="confirm(reserva)">
                                <i class="pi pi-trash" style="padding-top: 6px; padding-left: 5px;"></i>
                                <span style="padding-left: 5px;">Excluir</span>
                            </button>
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-confirmDialog #cd header="Confirmação" [style]="{width: '450px'}" icon="pi pi-exclamation-triangle" width="425">
            <p-footer>
                <button style="background-color: rgb(44, 44, 44);color: white;" type="button" pButton icon="pi pi-times"
                    label="Não" (click)="cd.reject()"></button>
                <button style="background-color: rgb(44, 44, 44);color: white;" type="button" pButton icon="pi pi-check"
                    label="Sim" (click)="cd.accept()"></button>
            </p-footer>
        </p-confirmDialog>
    </p-panel>
    <p-dialog header="Nova Reserva" [(visible)]="displaySaveDialog">
        <div class="dialog">
            <div class="divPad">  
                <label for="dataInicio">Data Inicio</label><br>           
                <input type="date" pInputText id="dataInicio" [(ngModel)]="reserva.dataInicio" required autofocus /><br>  
            </div>
            <div class="divPad">
                <label for="dataFim">Data Fim</label><br>                
                <input type="date" pInputText id="dataFim" [(ngModel)]="reserva.dataFim" required autofocus />
            </div>
            <div class="divPad">
                <button pButton type="button" (click)="showClientes()">
                    <i class="pi pi-users" style="padding-top: 7px; font-size: 12px;"></i>
                    <span style="font-size: 14px;">Clientes</span>
                </button>
            </div>
            <div class="divPad">
                <button pButton type="button" (click)="showSalas()">
                    <span class= "material-icons" style="font-size: medium; margin-top: 5px;">meeting_room</span>Salas
                </button>
            </div>
            <div class="divPad">
                <button pButton type="button" (click)="showEquipamentos()">
                    <i class="pi pi-desktop" style="padding-top: 7px; font-size: 10px;"></i>
                    <span style="font-size: 14px;">Equipamentos</span>
                </button>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button style="background-color: rgb(44, 44, 44);color: white;" type="button" pButton icon="pi pi-check"
                    (click)="save(reserva)" label="Salvar"></button>
            </div>
        </p-footer>
    </p-dialog>
    <p-dialog header="Editar Reserva" [(visible)]="displayEditDialog">
        <div class="dialog">
            <div class="divPad">  
                <label for="dataInicio">Data Inicio</label><br>           
                <input type="date" pInputText id="dataInicio" [(ngModel)]="reserva.dataInicio" required autofocus /><br>  
            </div>
            <div class="divPad">
                <label for="dataFim">Data Fim</label><br>                
                <input type="date" pInputText id="dataFim" [(ngModel)]="reserva.dataFim" required autofocus />
            </div>
            <div class="divPad">
                <button pButton type="button" (click)="showEquipamentos()">
                    <i class="pi pi-desktop" style="padding-top: 7px; font-size: 10px;"></i>
                    <span style="font-size: 14px;">Equipamentos</span>
                </button>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button style="background-color: rgb(44, 44, 44);color: white;" type="button" pButton icon="pi pi-check"
                    (click)="editar(reserva)" label="Salvar"></button>
            </div>
        </p-footer>
    </p-dialog>
</div>