<html lang="pt-br">
<div class="ui-g">
    <p-toast key="myKey1" position="bottom-right"></p-toast>
    <p-panel header="Clientes">
        <div style="margin-bottom: 20px;">
            <p-menubar [model]="itens">
            </p-menubar>
        </div>

        <p-table #dt [value]="clientes" [columns]="cols" [paginator]="true" [rowHover]="true"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando de {first} até {last} de {totalRecords} clientes" [rows]="10"
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th colspan="5">
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'nome', 'startsWith')"
                            placeholder="Buscar por nome" class="ui-column-filter" maxlength="120">
                    </th>
                    <th>
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'cpf', 'startsWith')"
                            placeholder="Buscar por cpf" class="ui-column-filter" maxlength="11">
                    </th>
                    <th colspan="2">
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'email', 'startsWith')"
                            placeholder="Buscar por email" class="ui-column-filter" maxlength="255">
                    </th>
                </tr>

                <tr>
                    <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon>
                    </th>
                    <th pSortableColumn="endereco">Endereço <p-sortIcon field="endereco"></p-sortIcon>
                    </th>
                    <th pSortableColumn="dataNasc">Data de nascimento <p-sortIcon field="dataNasc"></p-sortIcon>
                    </th>
                    <th pSortableColumn="telefone">Telefone<p-sortIcon field="telefone"></p-sortIcon>
                    </th>
                    <th pSortableColumn="rg">Rg<p-sortIcon field="rg"></p-sortIcon>
                    </th>
                    <th pSortableColumn="cpf">Cpf<p-sortIcon field="cpf"></p-sortIcon>
                    </th>
                    <th pSortableColumn="email">E-mail<p-sortIcon field="email"></p-sortIcon>
                    </th>
                    <th>Opções</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cliente let-columns="columns">
                <tr [pSelectableRow]="cliente" style="margin: 0; text-align: center; word-wrap: break-word;">
                    <td>{{cliente.nome}}</td>
                    <td>{{cliente.endereco}}</td>
                    <td>{{cliente.dataNasc | date: 'dd/MM/yyyy'}}</td>
                    <td>{{cliente.telefone | tel}}</td>
                    <td>{{cliente.rg | rg }}</td>
                    <td>{{ cliente.cpf | CPF }}</td>
                    <td>{{cliente.email}}</td>
                    <td style="text-align: center;">
                        <span style="float: center">
                            <button pButton type="button" (click)="showEditDialog(cliente)"
                                style="font-size: 14px; padding-top: 5px;">
                                <i class="pi pi-pencil" style="padding-top: 2px;"></i>
                                <span style="padding-left: 5px;">Editar</span>
                            </button>
                            <button pButton type="button" style="font-size: 14px; padding-top: 5px; margin-top: 15px;"
                                (click)="confirm(cliente)">
                                <i class="pi pi-trash"></i>
                                <span style="padding-left: 5px; justify-content: center;">Excluir</span>
                            </button>
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
    <p-dialog header="Novo Cliente" [(visible)]="displaySaveDialog" [style]="{width: '450px'}"
        styleClass="p-fluid">
        <div class="p-grid ui-fluid">
            <div class="inputCliente">
                <label for="nome">Nome</label>
                <input type="text" placeholder="ex: Joaquim Silveira" pInputText id="nome" [(ngModel)]="cliente.nome"
                    required autofocus />
            </div>
            <div class="inputCliente">
                <label for="endereço">Endereço</label>
                <input type="text" placeholder="ex: Rua Maciel Pinheiro" pInputText id="endereco"
                    [(ngModel)]="cliente.endereco" required autofocus />
            </div>
            <div class="inputCliente">
                <label for="dataNasc">Data de Nascimento</label>
                <input type="date" pInputText id="dataNasc" [(ngModel)]="cliente.dataNasc" required autofocus />
            </div>
            <div class="inputCliente">
                <label for="telefone">Telefone</label>
                <p-inputMask placeholder="(99)99999-9999" [(ngModel)]="cliente.telefone" mask="(99)99999-9999">
                </p-inputMask>
            </div>
            <div class="inputCliente">
                <label for="rg">RG</label>
                <p-inputMask [(ngModel)]="cliente.rg" placeholder="9.999.999" mask="9.999.999"></p-inputMask>
            </div>
            <div class="inputCliente">
                <label for="cpf">CPF</label>
                <p-inputMask [(ngModel)]="cliente.cpf" placeholder="999.999.999-99" mask="999.999.999-99"></p-inputMask>
            </div>
            <div class="inputCliente">
                <label for="email">Email</label>
                <input type="email" pInputText placeholder="ex: joaquinsilveira@email.com" id="email"
                    [(ngModel)]="cliente.email" />
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="pi pi-check" (click)="save()" label="Salvar"
                    style="background-color: rgb(44, 44, 44); color: white;"></button>
            </div>

        </p-footer>
    </p-dialog>
    <p-dialog header="Editar Cliente" [(visible)]="displayEditDialog" [style]="{width: '450px'}"
        styleClass="p-fluid">
        <div class="p-grid ui-fluid">
            <div class="inputCliente">
                <label for="nome">Nome</label>
                <input type="text" placeholder="ex: Joaquim Silveira" pInputText id="nome" [(ngModel)]="cliente.nome"
                    required autofocus maxlength="120"/>
            </div>
            <div class="inputCliente">
                <label for="endereço">Endereço</label>
                <input type="text" placeholder="ex: Rua João Pessoa" pInputText id="endereco"
                    [(ngModel)]="cliente.endereco" required autofocus />
            </div>
            <div class="inputCliente">
                <label for="dataNasc">Data de Nascimento</label>
                <input type="date" pInputText id="dataNasc" [(ngModel)]="cliente.dataNasc" required autofocus />
            </div>
            <div class="inputCliente">
                <label for="telefone">Telefone</label>
                <p-inputMask placeholder="(99)99999-9999" [(ngModel)]="cliente.telefone" mask="(99)99999-9999">
                </p-inputMask>
            </div>
            <div class="inputCliente">
                <label for="rg">RG</label>
                <p-inputMask [(ngModel)]="cliente.rg" placeholder="9.999.999" mask="9.999.999"></p-inputMask>
            </div>
            <div class="inputCliente">
                <label for="cpf">CPF</label>
                <p-inputMask [(ngModel)]="cliente.cpf" placeholder="999.999.999-99" mask="999.999.999-99"></p-inputMask>
            </div>
            <div class="inputCliente">
                <label for="email">Email</label>
                <input type="email" pInputText placeholder="ex: joaquinsilveira@email.com" id="email"
                    [(ngModel)]="cliente.email" />
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="pi pi-check" (click)="edit(cliente)" label="Editar"
                    style="background-color: rgb(44, 44, 44);color: white;"></button>
            </div>
        </p-footer>
    </p-dialog>
    <p-confirmDialog #cd header="Confirmação" [style]="{width: '450px'}" icon="pi pi-exclamation-triangle" width="425">
        <p-footer>
            <button style="background-color: rgb(44, 44, 44);color: white;" type="button" pButton icon="pi pi-times"
                label="Não" (click)="cd.reject()"></button>
            <button style="background-color: rgb(44, 44, 44);color: white;" type="button" pButton icon="pi pi-check"
                label="Sim" (click)="cd.accept()"></button>
        </p-footer>
    </p-confirmDialog>
</div>

</html>